@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Rasa&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family:Rasa;
}

/*
body{
	background-color: rgba(137, 196, 244, 0.4);
}
*/

#loadFadeIn{
	width: 184px;
	height: 184px; 
	position: absolute;
	top: 23vh;
	margin-left: calc((100vw - 184px)/2);
	animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
	from{
		opacity :0;
		top: 50px;
	}
	to{
		opacity: 1;
		top: 23vh;
	}
}



.wrap > div{
	background-image: url(back9.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	height: 100vh;
	overflow-x: hidden;

}

nav{
	position: fixed;
	display: flex;
	justify-content: flex-end;
	background-color: transparent; /*rgba(184, 163, 105);*/
	width: 100vw;
	height: 13vh;
	line-height: 13vh;
	padding: 0 100px;
	color: white;
	z-index: 2;
}

nav.scrolled {
	position: fixed;
	display: flex;
	justify-content: flex-end;
	background-color: rgb(184, 163, 105);
	width: 100vw;
	height: 13vh;
	line-height: 13vh;
	padding: 0 100px;
	color: white;
	z-index: 2;
}



 a {
 	color: white;
 	text-decoration: none;
 	font-family: Poiret One;
 	font-weight: bold;
 	
 }


nav > div {
	margin: 0 20px;
}

nav div{
	transition: border .3s ease-in-out;
}

nav div:not(:nth-of-type(1)):hover {
	border-bottom: solid white;
	border-width: thick;
}


div#mark {
	margin-right: auto;

}


div#container{
	background-image: none;
	position: absolute;
	top: 0;
}

.btn{
	border-radius: 3rem;
	width:100px; 
	height:50px;
	border-style: solid;
	border-color: white;
	border-width: 3px;
	transition: .3s ease-in-out;
	margin-left: calc((100vw - 8vw)/2);
	margin-top:5vh ;
	font-size: 3vh;
	line-height: 45px;
	padding-left: 10px;
}


.btn:hover {
	background-color: white;
	
}

.btn > a{
	text-decoration: none;
	font-family: Poiret One;
	font-weight: normal;
	color: white;
}

.btn:hover > a{
	color: #80661f;	
}



.secondPage {
	background-color: rgba(158, 179, 255, 0.4);
	overflow-x: hidden;
}

section {
	display: flex;
	padding-left: 50vw;
	padding-right:100px ;
	padding-bottom: 50px;
	text-align: justify;
	width: 100vw;
	height: 63vh;
	font-size: 2.7vh;
}

h1{
	padding-top: 40px;
	padding-left: 64vw;
	padding-bottom: 40px;
	font-family: Kite One;

}

.secondPage figure > img{
	width:400px; /*396px;*/
	height:400px; /*450px;*/
	position: absolute;
	right: 60vw;
	top:170vh;
}

.thirdPage {
	background-color: rgb(255, 231, 148)/*rgba(245, 215, 110, .7)*/;
	overflow-x: hidden;
	
}

.thirdPage >article > h1{
	padding-top: 40px;
	padding-left: 12vw;
	padding-bottom: 30px;
}

.thirdPage section{
	display: flex;
	padding-left: 5vw;
	padding-bottom: 50px;
	padding-right: 55vw;
	text-align: justify;
	width: 100vw;
	height: 50vh;
	font-size: 2.5vh;
}

.thirdPage figure > img{
	width: 600px;
	height: 410px;
	position: absolute;
	right: 0;
	top:297.35vh;/*做了html位置上的變動 故添加 但也無法讓圖片和section連動??*/
	
}

.btn2 {
	position: absolute;
	margin-top: -35vh;
	z-index: 1;
	margin-left: 48vw;
	background-color: rgb(255, 231, 148);
	border-color: rgb(255, 231, 148);
	color:#918353;
	border-radius: 3rem;
	width:100px; 
	height:50px;
	border-style: solid;
	font-size: 3vh;
	text-align: center;
	line-height: 50px;
	transition: .3s ease-in-out;
}

.btn2:hover {
	background-color: white;
	border-color: white;

}

.finalPage {
	background-color: rgba(158, 179, 255, 0.4);
	height: 90vh;
}

.overlay2{
	width: 17vw;
	height: 20px;
	background-color: #738fff;
	position: absolute;
	margin-left: calc((100vw - 18vw)/2);
	margin-top:70px;
	z-index: -1;
}

.finalPage > h1{
	padding-left: calc((100vw - 14vw)/2);
	padding-top:50px;
	padding-bottom: 20px;
}

p{
	text-align: center;
	margin-bottom: 40px;
	text-decoration: underline #738fff;
	font-size: 4vh;
}

table{
	font-size: 3.6vh;
	width: 90vw;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 40px;
	height: 50vh;
	table-layout: fixed;

}
 th > img {
 	width:150px ;
 	height:167px;
 	border-bottom: solid  #738fff;
 	padding-bottom: 20px;

 }

 td{
 	color:  #3639c2;
 	font-size: 3.2vh;
 	font-family: Kite One;
 }

th img:hover {
 	filter: hue-rotate(200deg);
 }


 .hidme {
 	position: relative;
 	top: 40px;
 	opacity: 0;
 }

 .hidmeWords{
 	opacity: 0.2;
 }

 a.anchor {
 	display: block;
 	position: relative;
 	top: -95px;
 	visibility: hidden;
 }

a.anchor2 {
 	display: block;
 	position: relative;
 	top: -145px;
 	visibility: hidden;
 }

