@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Philosopher:wght@400;700&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font:2.4vh/3.6vh serif;
}

div#container{
	height: 100vh;
	width: 90%; 
	margin-left: 10%;
	padding: 5px 5px; 
	background-image: url("back3.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #d4c9a3/*#D6D2C4*/;
	font-size: 35px;
	font-family: Philosopher, sans-serif;
}

nav{
	position: fixed;
	right: 90%;
	padding: 10px 15px;
	margin:0;
	left: 0;
	font-family: Philosopher, sans-serif;
	font-size: 18px;
	background-color: #D6D2C4;
	color: #a18830;
	height: 100vh;
	line-height: 40px;

} 

/*.trian_btn{
	display:inline-block;
}
.trian_btn: hover, .trian_btn:focus{

}*/
section{
	height: 100vh;
	width: 90%; 
	margin-left: 10%;
	padding: 15px 5px; 
}

.photo{
	float: right;
	width: 40%;
	margin-right: -50px;
	margin-top: -25px;

}



/*.intro{
    float:left;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}*/

.intro2{
    float:left;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

h1{
	font-family: Philosopher, sans-serif;
	font-size: xx-large;
	border-bottom-style: solid;
	border-color: #D6D2C4;
	border-width: 5px;
	padding: 10px 15px;
	margin-right: 10px;
	text-align: left;
	color: #2a3685;

}

p{
	font-family: Crimson Text, serif;
	font-size: 3vh;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #D6D2C4;
	text-indent: 36px;
	color: #66551c;
}

/*.btn{
	border-style: solid;
	border-width: 3px;
	background-color: #D6D2C4;
	width: 30px; height: 40px;
}*/
