@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	
}
body{
	overflow-y: hidden;

}
nav{
	height: 50px;
	display: flex;
	font-family:Bebas Neue, sans-serif;
	font-size: 3vh;

}
ul.navigation li{
	position: relative;
	float: left;
	list-style: none;
	width: 20vw;
	text-align: center;
}
ul.navigation li a {
	display: block;
	padding:13px 20px;
	background-color: white;
	text-decoration: none;
}

ul.navigation li a:hover {
	background-color: rgba(179, 168, 168, .7);
}

ul.navigation li ul{
	display: none;
	float: left;
	position: absolute;

}
ul.navigation li:hover >ul{
	display: block;
}

.banner{
	width: 100%;
	height: calc(100vh - 45px); /*calc()可以計算整個高度減掉nav的高度*/
	background: linear-gradient(90deg,#f78888 55%, transparent 45% ) center center/100% 100%, url("bg.jpg") right center / auto 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	height: 100%;
	margin: auto;

}
.banner-txt {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
	width: 50%;
	font-family: Thasadith, sans-serif;
	
}

.banner-txt img{
	border-bottom: 3px solid #25285c;
	width: 45vw;
	height: 15vh;
	padding-bottom: .3rem;
	margin-bottom: .3rem;
}


.banner-txt small{
	display: block;
	font-size: 40px;
	font-weight: 700;

}

.banner-txt h2{
	font-size: 30px;
	padding-top: 20px;
}

.banner-txt p{
	font-size: 20px;
}



@media only screen and (min-width: 1200px){

.banner{
	width: 100%;
	height: calc(100vh - 45px); /*calc()可以計算整個高度減掉nav的高度*/
	background: linear-gradient(110deg,#f78888 50%, transparent 50% ) center center/100% 100%, url("bg.jpg") right center / auto 100%;

}


.container{
	height: 100%;
	margin: auto;

}

.banner-txt {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
	font-family: Thasadith, sans-serif;
	
}

.banner-txt img{
	border-bottom: 3px solid #25285c;
	width: 555px;
	height: 115px;
	padding-bottom: .3rem;
	margin-bottom: .3rem;
	margin-top: 0;
}


.banner-txt small{
	display: block;
	font-size: 40px;
	font-weight: 700;

}

.banner-txt h2{
	font-size: 30px;
	padding-top: 20px;
}

.banner-txt p{
	font-size: 20px;
}

}




